.attribution {
    text-align: center;
}


.attribution a {
    color: hsl(228, 45%, 44%);
}

header,
ul {
    display: flex;
    flex-direction: row;
}


header nav ul li {
    list-style: none;
}

header nav ul li span:hover {
    cursor: pointer;
    color: hsl(0, 0%, 8%);
}

.seccion {
    margin-left: auto;
}

.btn1 {
    background: none;
    border: none;
}

.btn2 {
    background: none;
}

.seccion button:hover {
    color: hsl(0, 0%, 8%);
    cursor: pointer;
    border-color: hsl(0, 0%, 8%);
}

main {
    display: flex;
    flex-direction: row;
}

.btn3 {
    background: black;
    border: none;
    color: white;
}

.btn3:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.imgDown {
    display: grid;
}


.colortxt {
    color: hsl(0, 0%, 41%);
}

.menuDesplegado ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: white;
    z-index: 2;
}


#menudesplegable1,
#menudesplegable2 {
    display: none;
}



@media (min-width: 320px) {
   

    * {
        font-size: 1.2rem;

    } .attribution {
        font-size: 1rem;
    }

    .imghero-mobile {
        display: block;
        width: 100vw;
    }

    .imghero-desktop {
        display: none;
    }

    body {
        margin: 0;
    }

    header,
    ul {
        padding: 0;
        margin: 1rem 0.5rem;
    }

    ul {
        margin-left: 5vw;
    }

    header img {
        margin: auto 1vw;
        width: 1vw;
    }

    .snap {
        width: 4rem;
    }

    header nav ul li {
        margin-right: 1vw;
    }

    .seccion {
        margin-right: 2vw;
    }

    .btn2 {
        border: 0.05rem solid hsl(0, 0%, 41%);
        border-radius: 0.5rem;
        padding: 0.4rem 0.8rem;
        margin-left: 2rem;
    }

    main {
        height: 100vh;
    }

    .btn3 {
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        margin-top: 1.5rem;
        font-size: 1.3rem;
    }

    .btn3:hover {
        outline: 0.05vw solid black;
    }

    .imgDown {grid-template-columns: 3.5rem 3.5rem 3.5rem 3.5rem;
        column-gap: 1rem;
        padding: 0;
        margin-top: 3rem;
        width: 100vw;
        justify-content: center;
    }

    .imgDown img {width: 3.5rem;
    }

    .menuDesplegado ul {
        border-radius: 0.5vw;
        padding: 1.3vw 1.2vw;
        row-gap: 0.9vw;
        box-shadow: 0px 0px 15px -10px black;
        margin-left: -2.5vw;
    }

    .menuDesplegado ul li img {
        margin: 0 0.35vw;
    }


    .content {
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
        justify-content: start;
    }

    nav {
        display: none;
    }

    .menu {
        display: block;
        width: 1.8rem;
        margin-left: auto;
    }


    main div p {
        width: 100%;
    }

    .txt {text-align: center;width: 100vw;
        margin-top: 1rem;
    }

    .txt h1::first-line {
        display: block;
    }

    .txt h1 {
        font-size: 1.5rem;
        
    }

    .txt p {
        font-size: 1rem;width: 90vw;margin-left: 5vw;
    }
}

@media (min-width: 1000px) {
    .attribution {
        font-size: 1vw;
    }

    * {
        font-size: 1.2vw;

    }

    body {
        margin: 0.5vw;
    }

    header,
    ul {
        padding: 0;
        margin: 2vw 0;
    }

    .imghero-mobile {
        display: none;
    }

    .imghero-desktop {
        display: initial;
        width: 35vw;
    }

    ul {
        margin-left: 4vw;
    }

    header img {
        margin: auto 1vw;
        width: 1vw;
    }

    .snap {
        margin-left: 2rem;
        width: 6vw;
    }

    header nav ul li {
        margin-right: 1vw;
    }

    .seccion {
        margin-right: 2vw;display: flex;
        align-items: center;
    }

    .btn2 {
        border: 0.05vw solid hsl(0, 0%, 41%);
        border-radius: 0.5vw;
        padding: 0.4vw 0.8vw;
        margin-left: 2vw;
    }

 
    main {
        height: 100vh;
    }

    .btn3 {
        border-radius: 0.5vw;
        padding: 0.5vw 1vw;
        margin-top: 3vw;
        font-size: 1.3vw;
    }

    .btn3:hover {
        outline: 0.05vw solid black;
    }

    .imgDown {
        grid-template-columns: 6rem 6rem 6rem 6rem;
        column-gap: 2vw;
        padding: 0;
        margin-top: 6vw;
        justify-content: end;
        width: fit-content;
    }

    .imgDown img {
        width: 7vw;
    }

    .menuDesplegado ul {
        border-radius: 0.5vw;
        padding: 1.3vw 1.2vw;
        row-gap: 0.9vw;
        box-shadow: 0px 0px 15px -10px black;
        margin-left: -2.5vw;
    }

    .menuDesplegado ul li img {
        margin: 0 0.35vw;
    }

    .content {
        height: 30vw;
    }

    .content {
        display: flex;
        flex-direction: row;
        width: 90%;
        margin-left: 5%;
    }
 
    nav {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .menu {
        display: none
    }

    .txt {
        text-align: start; 
        margin-top: 0rem; width: 50%;margin-left: 5vw;
    }

    .txt p {
        font-size: 1.3vw;
        width: 80%;margin-left: 0;
    }

    .txt h1 {font-size: 5.1vw;
        width: 87%;
    }
    .imgdiv{
        width: 50%;text-align: center;
    }

}